# =========================
# Build outputs
# =========================

build/
dist/
out/

# =========================
# C++
# =========================

*.o
*.obj
*.so
*.a
*.exe

# =========================
# WebAssembly
# =========================

*.wasm
*.wasm.map

# =========================
# Node.js
# =========================
npm/node_modules/
node_modules/

npm/dist/

# =========================
# Logs
# =========================

*.log

# =========================
# Benchmarks
# =========================

benchmark_output*.vc
large_test_file.bin

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Temporary
# =========================

tmp/
temp/